.ketqua{
	display: inline;


}
.ten{
	margin-left: 9%;
}
.sapxep{
	margin-left: 35%;

}
.list{
	padding-right: 7%;
}
img{
	width: 100%;
	padding-bottom: 5%;
}
.row{
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 5%;

}
.row p.price{
	text-align: right;
}
.thuonghieu{
	display: inline;
	overflow: auto;
	padding-left: 5%;
}
.trang{
	float: right;
	padding-right: 8%;
}


