/**/
.info{
	font-size: 20px;	font-weight: normal;	margin-top: 10px;
}
.nameOfProduct{
	color:  #0066FF;
}
.posiOfButton{
	margin-left: 35%;	z-index: 1;
}
.list{
	border-bottom: 1px solid #D6D6C2;	margin-bottom: 0px;
}
.infor-details{
	font-size: 16px;	font-weight: normal;
}
.cus-Info{
	font-style: italic;	font-size: 16px;	color: #ff33cc
}
.posOfDiv{
	margin-left: -135px; Width: 150px;
}
.repci {
	z-index:1;
	width: 30vw ;
	height: 90px;
	border: 1px solid black;
	border-style: dashed;
	margin-left: 100px;
	background-color:lavender;
}
.btn-x{
	font-size: 22px;	width: 150px;	margin-left: 20px;
}
.size{
	margin-left: -225px;Width: 150px; margin-top: 10px
}
.resultOfSize{
	margin-left: -390px; Width: 150px; margin-top: 10px
}
#order-picture{
	margin-left: 50px;	padding-top: 10px;
	}
#orderdetail-picture{
	width: 200px; height: 200px
}
.input-quantity{
	margin-left: -130px;	Width: 150px;	margin-top: 10px
}
.province{
	margin-left: -15px;	width:175px
}
.district{
	width:175px;
}
.infor-recpi{
	width: 35% ; 
	height: 90px;  
	border: 1px solid black;
	border-style: dashed;
	margin-left: 100px;
	background-color:lavender;
}
.input-recpi{
	margin-top: 10px;
	margin-bottom: -10px; 
	border-style: dashed ; 
	background-Color: #d9b3ff
}
.footer-button {
	margin-left: 36% ; width: 150px
}
.note{
	font-style: italic; font-size: 16px; color: #00802b
}