/*
* HEADER
*/
body {
	padding-right: 0 !important;
}
header {
	background-color: #EFECDD;
	//background-color: #fff;
	color: white;
	font-size: 18px;
	padding-left: 8%;
	padding-right: 8%;
  position: relative;
}

.logo h1 {
	font-family: Mountain, sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 95px;
	color: #B02D15;
	margin-top: -25px;
  margin-bottom: -10px;
}

li {
  list-style: none;
}

.logo a:hover, .logo a:focus{
  text-decoration: none !important;
} 

a:focus {
	outline: none;
}

.nav > li > a {
	color: #0664C2;
}
.nav > li a:hover, .nav > li a:active,.nav > li a:focus{
  text-decoration: none;
}

li a:active, li a:focus {
    color: #85c2bc !important;
}

.nav > li  {
	padding-right: 30px;
}

.nav li>a:hover, .nav li>a:active, .nav li>a:focus {
	background-color: transparent !important;
	
}

.user {
	text-align: right;
	padding-top: 10px;
}
.user span a {
  text-decoration: none !important;
}

.glyphicon-search{
	color: black;
}

.has-feedback .form-control {
    padding-right: 50px;
}

.navbar {
	font-size: 18px;
}

.navbar-nav>li>a {
	font-size: 20px;
	text-transform: uppercase;
}
i.fa.fa-trash-o {
    font-size: 25px;
}
/* Icon Bounce */
.hvr-icon-bounce {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-bounce:before {
  content: "\f07a";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-bounce:hover:before, .hvr-icon-bounce:focus:before, .hvr-icon-bounce:active:before {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

a.hvr-icon-bounce.glyphicon.glyphicon-shopping-cart {
    font-size: 30px;
    margin-top: -30px;
}


/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}