.col-md-9.infor.inforprofile {
    padding: 50px;
}

#name #email #phone #adress{
	width: 120px;
	height: 120px;
	font-style: arial;
	font-size:30px;
}

.btn {
	color: #FFFFFF;
	background-color: rgb(0, 68, 121);
	width: 100px;
	height: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form-control{
	max-width: 300px;
}

.border img {
	width: 150px;
	height: auto;
	padding-bottom: 20px;
	padding-left: -10px;
	padding-right: -10px;
	margin: 0 auto;
	display: block;
}

.border p {
	text-align: center;
	color: purple;
}

.infor {
	background-color: #fafafa;
	padding: 5px;
	
}	
.font{
	font-size: 18px;
}
.infor .row {
	padding-top: 5px;
	padding-bottom: 5px;
}


}
input.ed {
	padding-bottom:5px;
	padding-top:5px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: middle;
	color: white;
	background-color:#1f1f7a;
	float:right;
}

.btn-group-lg>.btn, .btn-lg  {
	padding: 2px !important;
	background-color:#0664C2;
}
.order {
	padding-left: 400px;
}
.btn-info {
	background-color: #337ab7 !important;
}
.btn:hover {
    color: white;
    text-decoration: none;
    border-color: #337ab7 !important;
}
.edit{
	padding-right:220px !important
	
}
.submit {
	padding-top:18px;
	padding-right:200px !important;
	
}
.btn-info{
	border-color: #337ab7 !important;
}
.col-md-9.infor.inforprofile{
	padding-left:180px;
}
